{% extends "layout.html" %}
{% load static %}


{%block title%}
    About
{% endblock %}

{%block csslinks%}
    <link rel="stylesheet" href="{% static 'css/infopages.css' %}">
{% endblock %}


{% block content%}
    <br>
    <br>
    <h1> Welcome to Beats&Games <h1>
    <img style="max-width:500px;" src="{% static "images/AWESOME.png"%}"> </img>
    
    <br>
    <div>
        <h6> What is this and why am I here? <h6>
        <p class = "info-paragraphs"> 
            <br>
            Beats&Games is a music sharing platform for people who enjoy gaming with the right soundtrack to get them on top of a match. You can browse the games that users have registered to the site and check out the Spotify playlists that our users listen to while playing them. If you want, you can look the playlists up on spotify and give them a try yourself whenever you're gaming next!
            <br>
            <br>
            If you would also like to participate and register new games or post your preferred playlists for them, create an account and join the fun today!
            <br>
            <br>
            register games, post playlists connected to them, or simply browse freely. That's all there is to it, have fun!
        </p>

        <br>
        <h6> Tutorials! </h6>
        <p> 
            <a href="{% url "information:tutorial-game"%}"> Post playlist,</a>
            <a href="{% url "information:tutorial-game"%}"> Register game </a>
        </p>


    </div>
    
    
{% endblock %}