<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
            Layout.html TITLE
        {% endblock %}

    </title>
    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/infopages.css' %}">
    

    {% block cssLinks %}

    {% endblock %}

    {% block jsLinks %}

    {% endblock %}

</head>
<body>
    <nav>
        <a  href = "/"> HOME </a> |
        <a href = "/about"> ABOUT </a> |
        <a href = "{% url 'posts:list'%}"> RECENT </a> |
        <a href = "{% url 'posts:user-list'%}"> YOUR PLAYLISTS </a> |
        <a href = "{% url 'games:list'%}"> GAMES </a> |
        <a href = "{% url 'posts:list'%}"> SEARCH </a> 
        

        {% if not user.is_authenticated %}
            <a class= "account-links" href = "{% url 'users:register'%}"> REGISTER </a> 
            <p class= "account-links">|</p>
            <a class= "account-links" href = "{% url 'users:login'%}"> LOGIN </a> 

        {% else %}
            <p class="account-links"> Logged in as: {{user}} </p>
            <br>
            <form class = "layout-buttons" method = "post" action = "/users/logout/">
                {% csrf_token %}
                <input type = "submit" value = "Logout" title = "logout">
            </form> 
        {% endif %}
    </nav>

    {% block appLayout%}
        
    {% endblock %}


    <main>
        {% block content %}
            THIS IS A DEFAULT.
        {% endblock %}
    </main>

</body>
</html>