* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.account-links{
    text-align: right;
    float:right;
    color:whitesmoke;
    font-size: 1.5rem;
    display: block;
    margin: auto;
}

.layout-buttons{
    float: right;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: .5rem;
}

nav{
    background-color: #f01616;
    text-align: left;
    font-size: 1.5rem;
    padding: .75rem;
    font-family: fantasy;
}

body{
    background-color: rgb(0, 0, 0);
    text-align: center;
    nav-down: auto;
    flex-flow:column;
    color: whitesmoke;
}

p{
    font-size: medium;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    opacity: 0.5;
}

main{
    background-position: 2cm;
}

h1,p {
    text-align: center;
}