.post{
    padding-top: 1rem;
}

.posts-app-layout{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* post specific stuff*/

.post-game-association-bar {
   text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;

   .post-game-association-image {
        max-width: 100px;
        padding-left: 1rem;
       
   }
}

.banner{
    display:inline-block;
    width: 500px;
    max-width: 500px;
    size: 2rem;
}

.post-list-banner {
    max-width: 150px;
}


.artist-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size : .75rem;
    color : rgb(173, 137, 137);
    text-align: left;
}

.playlist-song-images {
    max-width: 100px;
    padding: 1rem;
}



