.post{
    padding-top: 1rem;
}


.banner{
    display:inline-block;
    width: 500px;
    max-width: 500px;
    size: 2rem;
}

.posts-app-layout{
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



