{% extends "post_layout.html"%}
{% load static %}


{% block title%}
    Edit playlist details
{%endblock%}

{% block appLayout%}
    <!-- have nothing here we dont want the make_post button-->
{%endblock%}


{% block content%}
    <section>
     
        <br>
        <br>
        <h1> Delete this playlist? </h1>

        <form action="{% url 'posts:delete-post' playlistId=playlistId%}"  method="post">
            {% csrf_token%}
            <input type="hidden" name="decision" value="yes"></input>
            <button type = "submit" > YES </button>
        </form>

        <form action="{% url 'posts:delete-post' playlistId=playlistId %}"  method="post">
            {% csrf_token%}
            <input type="hidden" name="decision" value="no"></input>
            <button type = "submit" > NO </button>
        </form>

    </section>
{%endblock%}