{% extends "post_layout.html"%}
{% load static %}


{% block title%}
    {{this_post.title}}
{%endblock%}

{% block cssLinks%}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{%endblock%}

{% block content%}
    <section>

        {% if user == this_post.author %}
            <br>
            <a class="posts-app-layout" href={% url 'posts:edit-post' playlistId=this_post.playlistId %}> Edit Playlist </a>
            <br>
            <br>
            <a class="posts-app-layout" href={% url 'posts:delete-post' playlistId=this_post.playlistId %}> Delete Playlist </a>
        {% endif %}
       
        <br>

        <img class = "banner" src={{this_post.bannerUrl}} alt={{post.title}} ></img>
        <h2>  {{this_post.title}}  </h2>


        <p> <b>Created By:</b> {{this_post.author}}</p>
        <h5> {{this_post.date}} </h5>
        <br>
       
        <p>{{this_post.caption}}</p>
        <br>
        <p>{{this_post.description}}</p>

        <br>

        <p class = "post-game-association-bar"> 
            <b>Associated with:</b>
            {% for game in games %}
                <a href = {% url 'posts:game-list' gameId=game.igdbId%}>
                    {% if "images.igdb.com" in game.coverUrl %}
                        <img class = "post-game-association-image" src = {{ game.coverUrl }}> </img>
                    {% else %}
                        <span style = "color: blanchedalmond"> {{game.title}}</span>
                    {% endif %}
                </a>
            {% endfor %}
        
        </p>

        <br>
        <hr>
        <br>
        <!-- song list HTML -->
        {% for thing in this_post.songs%}
            <p> 
              
                <img class = "playlist-song-images" src = {{thing.imageurl}} alt = "Album art"> </img>
                <br>
                {{thing.name}} 
                <br>
                {% if thing.type == 'episode'%}
                    <span class="artist-text"> 
                        <b> An episode of: {{thing.show}} </b> 
                    </span>
                {% else %}
                    <span class="artist-text"> 
                        <b> {{thing.artists}} </b>
                    </span>
                {% endif %}
        
            </p>
            <br>
            <br>
        {% endfor %}
        
        
    </section>
{%endblock%}