{% extends "games_layout.html"%}
{% load static %}

{%block title%}
    Games
{% endblock %}


{% block content%}
<section>
    <br>
    <br>
    <h1> Registered Games </h1>

    {% for game in games%}
        <article class="game">

            <a href="{% url 'posts:list'%}">
              

                {% if game.coverUrl != ''%}
                    <img src={{game.coverUrl}} alt="Cover image">
                {% else %}
                    <img style="max-width:225px;" src ="https://media.tenor.com/NpZyGNG3SLEAAAAM/this-content-is-not-available.gif"alt = "Cover image"> </img>
                {% endif %}
            </a>

            <h2> 
                <!-- never null, this is the bare minimum to post a game on IGDB -->
                {{game.title}}
            </h2>


            <p> 
                {% if game.releaseYear != ''%}
                    ({{game.releaseYear}})
                {% else %}
                    (missing year)
                {% endif %}
            </p>
          
        </article>
    {%endfor%}
</section> 
{% endblock %}
