{% extends "games_layout.html"%}
{% load static %}

{%block title%}
    Games
{% endblock %}


{% block content%}
<section>
    <br>
    <br>
    <h1> Registered Games </h1>

    {% for game in games%}
        <article class="game">

            <a href="https://www.geeksforgeeks.org/python-program-to-convert-unix-timestamp-string-to-readable-date/">
                <img src={{game.coverUrl}}
            </a>

            <h2> 
                {{game.title}}
            </h2>

            <p> {{game.releaseYear}}</p>
          
        </article>
    {%endfor%}
</section> 
{% endblock %}
